MYSQL_HOST = "localhost"
MYSQL_USER = "root"
MYSQL_PASSWORD = "12345"
MYSQL_DB = "ecommerce_warehouse"

MONGO_URI = "mongodb://localhost:27017"
MONGO_DB = "ecommerce"

GEMINI_API_KEY = "AIzaSyDjyXFvNbOcrrNVkUvffxTLV_SkTljmsTs"
GEMINI_MODEL = "gemini-1.5-flash"
